.decoration{
    width: 100%;
    background-image: url(../../images/event3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    margin-top: 80px;
    margin-bottom: 60px;
}
.amazing{
    text-align: center;
    padding-top: 80px;
}
.amazing h5{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
.line-design{
    height: 3px;
    width: 85px;
    background: #fff;
    margin: 30px auto;
}
.amazing p{
    font-weight: 400;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: #e4e4e3;
    margin: 24px 0px;
}